.texthello{
    /* Hello John Doe, */


    position: absolute;
    width: 1138px;
    height: 131px;
    left: 459px;
    top: 205px;

    font-family: 'Ruda';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 78px;

    color: #FFFFFF;
    }