.background-img{
    position: absolute;
    width: 1820px;
    height: 1024px;
    left: 0px;
    top: 0px;
}

.background-regis{
    position: absolute;
    width: 1440px;
    height: 1024px;

    background: #0C0C14;
}

.text-login{
    position: absolute;
    width: 104px;
    height: 24px;
    left: 230px;
    top: 169px;

    font-family: 'sans serif';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;

    color: #B5D2EB;
}

.card-regis{
    position: absolute;
    width: 607px;
    height: 575px;
    left: -430px;
    top: -740px;
    
    background-color: transparent;
}

.first-name{
    position: absolute;
    width: 195px;
    height: 60px;
    left: 40px;
    top: 230px;

}

.last-name{
    position: absolute;
    width: 195px;
    height: 60px;
    left: 26+0px;
    top: 230px;
}

.input-username{
    position: absolute;
    width: 415px;
    height: 60px;
    left: 40px;
    top: 290px;
}

.input-email{
    position: absolute;
    width: 415px;
    height: 60px;
    left: 40px;
    top: 350px;
}

.input-password{
    position: absolute;
    width: 415px;
    height: 60px;
    left: 40px;
    top: 410px;
}

.confirm-password{
    position: absolute;
    width: 415px;
    height: 60px;
    left: 40px;
    top: 470px;
}

.button-create{
    position: absolute;
    width: 195px;
    height: 60px;
    left: 40px;
    top: 550px;
    text-align: center
    4
    t;
    background-color: #473153;
}