.background-img{
    position: relative;
    width: 1440px;
    height: 1024px;
    

    background: #0C0C14;
}
.button-verifemail{
    position: absolute;
    width: 200px;
    height: 58px;
    left: 428px;
    top: 532px;

    background: #618FB6;
}